.titulo {
  color: green;
}

.Skills {
  color: green;
}

.Education {
  color: green;
}

.Escuela{
  color: blue;
}

.Experience{
  color: green;
}

.Empresa{
  color: blue;
}

.Cuentas{
  color:green;
}